.main-layout {
  height: 100%;
}

.layout-header {
  height: 64px;

  -webkit-box-shadow: 2px 7px 13px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 7px 13px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 7px 13px -8px rgba(0, 0, 0, 0.75);
}

.layout-header img {
  width: 200px;
}

.layout-footer {
  height: 64px;

  -webkit-box-shadow: 2px -7px 13px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -7px 13px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -7px 13px -8px rgba(0, 0, 0, 0.75);
}

.layout-body {
  height: calc(100% - 132px);
}

.item-list {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  border-color: #e0e0e0;
  border-radius: 10px;
  background: white;
  height: 60px;
  margin: 0.5em;
  -webkit-box-shadow: 0px 0px 18px -5px rgba(194, 194, 194, 1);
  -moz-box-shadow: 0px 0px 18px -5px rgba(194, 194, 194, 1);
  box-shadow: 0px 0px 18px -5px rgba(194, 194, 194, 1);
}

.item-list .MuiIcon-root.item-icon {
  font-size: 4em;
  color: #ccc;
}

.item-list .item-desc {
  padding: 1em;
}

.item-image {
  width: 100px;
}

.custom-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.custom-card {
  max-width: 50vw;
  margin: 0 auto;
}
